* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  color: #000000;
}

.cont {
  background-color: aliceblue;
  height: auto;
  width: auto;
  padding: 50px;
  border-radius: 20px;
  position: absolute;
  top: calc(50% - 300px);
  right: calc(50% - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputbox {
  position: relative;
  margin: 10px 0;
  width: 310px;
  border-bottom: 2px solid #000000;
}

.inputbox label {
  position: absolute;
  top: 60%;
  left: 5px;
  transform: translateY(-50%);
  color: #000000;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: 1px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  /* padding: 1px 0 5px; */
  padding-left: 5px;
  color: #000000;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #000000;
  font-size: 1.2em;
  top: 20px;
}

button {
  background-color: #000000;
  color: #fff;
  width: 45%;
  height: auto;
  padding: 5px 0;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

button:hover {
  background-color: #0d1d27;
}

/* span {
  font-size: 30px;
} */

a {
  margin-top: 30px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn_google_git {
  width: 100%;
}

.or {
  margin: 10px;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.google_git {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

hr {
  margin: 10px;
  width: 100%;
}

footer {
  color: #fff;
  width: 100%;
  font-size: 1.3em;
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 99;
  position: absolute;
  bottom: 10px;
}

footer p,
footer a {
  text-decoration: none;
  color: #fff;
  text-indent: 10px;
  margin-top: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0;
  z-index: 9;
}

span {
  color: #fff;
}

/* CSS  Butoon*/
.button-85 {
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform;
  padding: 10px 20px;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
